In [1]:
import pandas as pd
import numpy as np

In [21]:
df_mcd = pd.read_csv('dataset/mcdonalds_biz.csv')

In [22]:
df_mcd.shape

(865, 10)

In [23]:
df_mcd.head()

,Unnamed: 0,business_id,name,city,state,latitude,longitude,stars,review_count,is_open
0,280,CfwrsG76Wm4iLS22v_wAcg,McDonald's,Parma Heights,OH,41.385949,-81.768113,2.5,15,1
1,741,v3kXkK9ga8jfgetr0Hb5Eg,McDonald's,Willowick,OH,41.642921,-81.469927,2.0,8,1
2,886,dgV3b_HRCGcrR1-OzkwHNA,McDonald's,Bradford,ON,44.108393,-79.589562,2.5,4,1
3,1274,2SedpQ674XBqyw3Wq4kyxQ,McDonald's,Mesa,AZ,33.390766,-111.685350,1.5,29,1
4,1402,2vuAlukfUZf3vbHsexEeDw,McDonald's,Toronto,ON,43.672212,-79.467928,1.0,20,1

In [9]:
df_photo = pd.read_json('dataset/photos.json',lines=True)

In [10]:
df_photo.shape

(200000, 4)

In [12]:
df_photo.head()

,photo_id,business_id,caption,label
0,001kKc6P_rmgaXThAHxEkw,zKZc8GwCaKbACaV0HZAmpg,Clean and simple interior,inside
1,002gqWfVal1D2DT6oA-bVQ,qnZzSC4TKen19Gz9nyKCvw,12oz. Boneless Ribeye | Grilled to perfection ...,food
2,002GtTSYyQ4swIZyEnfF5A,9km51KaQujxsSgdaG9gYSw,"The Most Yummy Tarts: Chantilly, Guava, Salted...",food
3,0036yehPJxVwNZDRDYH2jQ,Qg9L37JCd-PkcWMj9VAWmw,Dynamic Duo! Great dance music!,inside
4,003Isvt6NCJ567PdAEwrfA,zgQHtqX0gqMw1nlBZl2VnQ,,food

In [24]:
photos = df_photo.merge(df_mcd, on='business_id')

In [25]:
photos.shape

(7011, 13)

In [26]:
photos.head()

,photo_id,business_id,caption,label,Unnamed: 0,name,city,state,latitude,longitude,stars,review_count,is_open
0,00Hi8Oh671yCCPykwXe07Q,IO3kl2cSL188ozomiknqmQ,,food,159853,McDonald's,Mint Hill,NC,35.186893,-80.689753,1.5,26,1
1,0V7L77cTdpKfzFqo20EqbQ,IO3kl2cSL188ozomiknqmQ,,food,159853,McDonald's,Mint Hill,NC,35.186893,-80.689753,1.5,26,1
2,5BAJQx9tbVgCSY1rI3z4vA,IO3kl2cSL188ozomiknqmQ,,food,159853,McDonald's,Mint Hill,NC,35.186893,-80.689753,1.5,26,1
3,7h4dmUTu2Tbx_LmaYUYIjA,IO3kl2cSL188ozomiknqmQ,,food,159853,McDonald's,Mint Hill,NC,35.186893,-80.689753,1.5,26,1
4,cZL6mCtrpmQWCm22nb2pKw,IO3kl2cSL188ozomiknqmQ,"McDonald's Big Breakfast: biscuit, scrambled e...",food,159853,McDonald's,Mint Hill,NC,35.186893,-80.689753,1.5,26,1

In [28]:
photos.to_csv('mcdonalds_photos.csv')

In [31]:
photos['label'].nunique()

5

In [32]:
photos['label'].unique()

array(['food', 'drink', 'inside', 'outside', 'menu'], dtype=object)

In [34]:
photos['label'].isna().any()

False

In [35]:
photos['photo_id'].isna().any()

False

In [36]:
photos['photo_id'].nunique()

7011

In [49]:
photos_label = photos.groupby(['photo_id']).agg({'label':sum})

In [50]:
photos_label

                       label
photo_id
-0OYKR7JEpBzMZZlF18P2A  food
-0uvM40x1izx9-oe9qVJMg  food
-1LHZQjiA-8Cu-l52qkqwA  food
-1TBXMZQklXd8aSllEuO5w  food
-1cF5aaiTJp7nnTKIv96Iw  food
...                      ...
zxP2NLDydjnTWFqLeotzkQ  food
zxeDTVpMjt5iWGO8wL5Udg  food
zyXr3Z6UKh89YqoKpnK2pQ  food
zzk5Ohw5Pw0qzzdDQJ02Lw  food
zzpddzz8RyNhZsruXgoaiA  food

[7011 rows x 1 columns]

In [51]:
photos_label.shape

(7011, 1)

In [53]:
photos_label.label.unique()

array(['food', 'drink', 'inside', 'outside', 'menu'], dtype=object)

In [69]:
photos_label.value_counts()

label
food       6131
drink       735
inside       86
outside      58
menu          1
dtype: int64

In [54]:
labels = ['food', 'drink', 'inside', 'outside', 'menu']

In [57]:
y = pd.get_dummies(photos_label['label'],prefix='Label')

In [58]:
y

,Label_drink,Label_food,Label_inside,Label_menu,Label_outside
photo_id,,,,,
-0OYKR7JEpBzMZZlF18P2A,0,1,0,0,0
-0uvM40x1izx9-oe9qVJMg,0,1,0,0,0
-1LHZQjiA-8Cu-l52qkqwA,0,1,0,0,0
-1TBXMZQklXd8aSllEuO5w,0,1,0,0,0
-1cF5aaiTJp7nnTKIv96Iw,0,1,0,0,0
...,...,...,...,...,...
zxP2NLDydjnTWFqLeotzkQ,0,1,0,0,0
zxeDTVpMjt5iWGO8wL5Udg,0,1,0,0,0
zyXr3Z6UKh89YqoKpnK2pQ,0,1,0,0,0
zzk5Ohw5Pw0qzzdDQJ02Lw,0,1,0,0,0
zzpddzz8RyNhZsruXgoaiA,0,1,0,0,0

In [66]:
y['Label_inside'].value_counts()

0    6925
1      86
Name: Label_inside, dtype: int64

In [ ]:
# bash script to separate folders

In [ ]:
# http://tensorflow.org/tutorials
# image classification examples
# dimensions between different layers
# generators to load images

# activation, softmax
# neurons in a layer
# types of layers
# convolutional, dropout, max cooling

In [ ]:
# photo pre-process to crop same size

In [ ]:
## trouble
# class imbalance

In [ ]:
# bash script to move photos
cur_dir = 'classifiy/'
for photo in y['photo_id']:
    print(photo)

In [78]:
len(y.index)

7011

In [81]:
y.index(3)

TypeError: 'Index' object is not callable

In [82]:
y.index

Index(['-0OYKR7JEpBzMZZlF18P2A', '-0uvM40x1izx9-oe9qVJMg',
       '-1LHZQjiA-8Cu-l52qkqwA', '-1TBXMZQklXd8aSllEuO5w',
       '-1cF5aaiTJp7nnTKIv96Iw', '-2q9op6vN7LVBU4ix9SRzg',
       '-32WyF881jL8xoLktOvyiQ', '-3ELkESFIe5ndZQDqLrLZA',
       '-3aISS7LOp307V2_6CX_Vw', '-3fpKB1LQM-kGQUF-xtYvw',
       ...
       'zuYZFDdpfvbx83zXvC-jag', 'zvYcOGEO8S3rAMDfj6WqhA',
       'zwDQkZP4WJWdMB-Vb2PpVQ', 'zwgZuC-awwIdDi9Z5HCWqQ',
       'zxB2MDBag-xGhZ5f3TiFdg', 'zxP2NLDydjnTWFqLeotzkQ',
       'zxeDTVpMjt5iWGO8wL5Udg', 'zyXr3Z6UKh89YqoKpnK2pQ',
       'zzk5Ohw5Pw0qzzdDQJ02Lw', 'zzpddzz8RyNhZsruXgoaiA'],
      dtype='object', name='photo_id', length=7011)

In [83]:
y.reset_index(level=0, inplace=True)

In [84]:
y

,photo_id,Label_drink,Label_food,Label_inside,Label_menu,Label_outside
0,-0OYKR7JEpBzMZZlF18P2A,0,1,0,0,0
1,-0uvM40x1izx9-oe9qVJMg,0,1,0,0,0
2,-1LHZQjiA-8Cu-l52qkqwA,0,1,0,0,0
3,-1TBXMZQklXd8aSllEuO5w,0,1,0,0,0
4,-1cF5aaiTJp7nnTKIv96Iw,0,1,0,0,0
...,...,...,...,...,...,...
7006,zxP2NLDydjnTWFqLeotzkQ,0,1,0,0,0
7007,zxeDTVpMjt5iWGO8wL5Udg,0,1,0,0,0
7008,zyXr3Z6UKh89YqoKpnK2pQ,0,1,0,0,0
7009,zzk5Ohw5Pw0qzzdDQJ02Lw,0,1,0,0,0
7010,zzpddzz8RyNhZsruXgoaiA,0,1,0,0,0

In [85]:
y.to_csv('photo_id_labels.csv')

In [90]:
df_drink = y[y['Label_drink']==1]

In [91]:
df_drink.shape

(735, 6)

In [97]:
df_drink.head()

,photo_id,Label_drink,Label_food,Label_inside,Label_menu,Label_outside
5,-2q9op6vN7LVBU4ix9SRzg,1,0,0,0,0
11,-45AtgGKmLNljL1QjzAskQ,1,0,0,0,0
32,-BM59ynquITpEQbttxMU9g,1,0,0,0,0
80,-csmXhkJE306DZktBcBGYw,1,0,0,0,0
81,-dA5g2-32pzeg6KvRgKLFA,1,0,0,0,0

In [93]:
photos_label.value_counts()

label
food       6131
drink       735
inside       86
outside      58
menu          1
dtype: int64

In [94]:
df_food = y[y['Label_food']==1]

In [95]:
df_food.shape

(6131, 6)

In [96]:
df_food.head()

,photo_id,Label_drink,Label_food,Label_inside,Label_menu,Label_outside
0,-0OYKR7JEpBzMZZlF18P2A,0,1,0,0,0
1,-0uvM40x1izx9-oe9qVJMg,0,1,0,0,0
2,-1LHZQjiA-8Cu-l52qkqwA,0,1,0,0,0
3,-1TBXMZQklXd8aSllEuO5w,0,1,0,0,0
4,-1cF5aaiTJp7nnTKIv96Iw,0,1,0,0,0

In [98]:
df_inside = y[y['Label_inside']==1]
df_inside.shape

(86, 6)

In [99]:
df_menu = y[y['Label_menu']==1]
df_menu.shape

(1, 6)

In [ ]:
df_outside = y[y['Label_inside']==1]
df_inside.shape